<!DOCTYPE html>
<html>
  <head>
    <title>E1 Finance | M1 Finance Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <%= favicon_link_tag asset_path('e1-logo-small.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
